body {
  margin: 0;
  min-height: 100vh;
  background-color: #1e1e1e;
  font-family: 'Fira Code', monospace;
  color: #d4d4d4;
}


.editor {
  max-width: 800px;
  margin: 60px auto;
  background-color: #1e1e1e;
  border-radius: 8px;
  box-shadow: 0 20px 50px rgba(0,0,0,0.6);
  border: 1px solid #333;
}

.editor-header {
  background: #2d2d2d;
  padding: 10px;
  border-radius: 8px 8px 0 0;
  display: flex;
  align-items: center;
}

.filename {
  margin-left: 12px;
  color: #aaa;
  font-size: 14px;
}

.dot {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin-right: 6px;
}

.red { background: #ff5f56; }
.yellow { background: #ffbd2e; }
.green { background: #27c93f; }

.code {
  padding: 20px;
  font-size: 15px;
  line-height: 1.6;
  white-space: pre;
}



/* cursor */
.cursor {
  display: inline-block;
  margin-left: 2px;
  animation: blink 1s steps(1) infinite;
}

@keyframes blink {
  50% { opacity: 0; }
}
