body {
  margin: 0;
  min-height: 100vh;
  background-color: #1e1e1e;
  font-family: 'Fira Code', monospace;
  color: #d4d4d4;

}


/* cursor */
.cursor {
  display: inline-block;
  margin-left: 2px;
  animation: blink 1s steps(1) infinite;
}

@keyframes blink {
  50% { opacity: 0; }
}



.container{
  border: 1px solid red;
  width: 80%;
  height: auto;
  margin: 1rem;
}

.innerContainer{
  border: 1px solid blue;
  margin: 1rem;
  padding: 1rem;
}
h2{
  font-size: 14px;
  text-decoration: underline;
}

.skillsGrid{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

.skillsGrid h3{
  background-color: blue;
}